body{
	margin: 0;
	padding: 0;
	background: url(workdesk.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

table{
	border-spacing: 10px 5px;
}

h1{
	font-size: 28px;
	text-align: center;
	color: #000;
}

label{
	font-weight: bold;
}

.employeeform{
	width: 420px;
	height: 350px;
	background: #e4e1d8;
	color: #fff;
	top: 25%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	/*padding: 5px 5px;*/
	color: #000;
	padding-bottom: 20px;
}

button{
	background: rgb(173,170,169);
}

input, select{
	background: rgb(173,170,169);
	border-radius: 5px;
}

table{
	vertical-align: text-top;
}

.secondhalf{
	background: rgb(173,170,169);
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

button{
	border-radius: 50px;
}


@media (min-width: 1200px)
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
@media (min-width: 992px)
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
@media (min-width: 768px)
.container, .container-md, .container-sm {
    max-width: 720px;
}
@media (min-width: 576px)
.container, .container-sm {
    max-width: 540px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-content {
    margin: 0px;
    padding: 50px 0px 50px 0px;
    border: 1px ridge;
    min-height: 400px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
    padding: 20px;
}

.col-12{
	flex: 0 0 100%;
	max-width: 100%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-3{
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}

.col-9 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 13.333333%;
    max-width: 85%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-6{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

#error_text{
	display: none;
}

#resetbtn, #savebtn{
	width: 150px;
	margin-top: 0px;
}

#fname, #mname, #lname, #MaritalStatus, #spouse_name{
	width: 250px;
	margin-top: 0px;
}

#details{
	width: 250px;
	height: 100px;
	margin-top: 0px;
}
